/* NewGameForm.css */

body {
  overflow: hidden;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  align-self: center;
  font-weight: bold;
}

input {
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.input-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
}

button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

.label-input-container {
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 20px;
  /* border: 1px solid white; */
}

.player-name-container label {
  text-align: left;
}

select {
  margin: 1em;
}
